# Introduction to DataFrames

* Read data from CSV (downloadable from Yahoo! Finance)
* Understand data types
* Set index
* Parse dates
* Use index with loc
* Use indexing with iloc

In [2]:
import pandas as pd

In [16]:
data = pd.read_csv("BJ.csv", index_col=0, parse_dates=True)

In [17]:
data.head()

                 Open       High        Low      Close  Adj Close    Volume
Date
2018-07-01  23.209999  27.459999  22.879999  24.790001  24.790001  25833200
2018-08-01  24.750000  31.580000  24.299999  29.500000  29.500000  22695800
2018-09-01  29.500000  32.919998  25.799999  26.780001  26.780001  48341500
2018-10-01  26.900000  27.670000  20.330000  22.150000  22.150000  42620300
2018-11-01  22.379999  24.830000  19.309999  23.360001  23.360001  37619400

In [18]:
data.dtypes

Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [19]:
data.index

DatetimeIndex(['2018-07-01', '2018-08-01', '2018-09-01', '2018-10-01',
               '2018-11-01', '2018-12-01', '2019-01-01', '2019-02-01',
               '2019-03-01', '2019-04-01', '2019-05-01', '2019-06-01',
               '2019-07-01', '2019-08-01', '2019-09-01', '2019-10-01',
               '2019-11-01', '2019-12-01', '2020-01-01', '2020-02-01',
               '2020-03-01', '2020-04-01', '2020-05-01', '2020-06-01',
               '2020-07-01', '2020-08-01', '2020-09-01', '2020-10-01',
               '2020-11-01', '2020-12-01', '2021-01-01', '2021-02-01',
               '2021-03-01', '2021-04-01', '2021-05-01', '2021-06-01',
               '2021-07-01', '2021-08-01', '2021-09-01', '2021-10-01',
               '2021-11-01', '2021-12-01', '2022-01-01', '2022-02-01',
               '2022-03-01', '2022-04-01', '2022-05-01', '2022-06-01',
               '2022-07-01', '2022-08-01', '2022-09-01', '2022-10-01',
               '2022-11-01', '2022-11-15'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [20]:
data.loc["2018-07-01"]

Open         2.321000e+01
High         2.746000e+01
Low          2.288000e+01
Close        2.479000e+01
Adj Close    2.479000e+01
Volume       2.583320e+07
Name: 2018-07-01 00:00:00, dtype: float64

In [8]:
data.loc["2022-01-01":]

                 Open       High        Low      Close  Adj Close    Volume
Date
2022-01-01  66.540001  66.580002  55.360001  61.470001  61.470001  26843400
2022-02-01  61.360001  66.321999  59.049999  62.869999  62.869999  24292500
2022-03-01  63.259998  68.709999  54.220001  67.610001  67.610001  44755600
2022-04-01  68.489998  71.000000  64.160004  64.349998  64.349998  34110400
2022-05-01  64.519997  67.610001  51.450001  57.869999  57.869999  53149800
2022-06-01  57.840000  66.900002  56.560001  62.320000  62.320000  54277400
2022-07-01  62.660000  71.239998  61.709999  67.699997  67.699997  28977900
2022-08-01  67.989998  77.470001  67.779999  74.489998  74.489998  51987500
2022-09-01  74.279999  79.690002  72.404999  72.809998  72.809998  41295700
2022-10-01  72.760002  78.459999  69.660004  77.400002  77.400002  36910000
2022-11-01  77.519997  80.410004  75.230003  78.470001  78.470001  18716200
2022-11-15  76.739998  79.010002  77.910004  78.470001  78.470001   1475758

In [9]:
data.iloc[0]

Open         2.321000e+01
High         2.746000e+01
Low          2.288000e+01
Close        2.479000e+01
Adj Close    2.479000e+01
Volume       2.583320e+07
Name: 2018-07-01 00:00:00, dtype: float64

In [10]:
data.tail()

                 Open       High        Low      Close  Adj Close    Volume
Date
2022-08-01  67.989998  77.470001  67.779999  74.489998  74.489998  51987500
2022-09-01  74.279999  79.690002  72.404999  72.809998  72.809998  41295700
2022-10-01  72.760002  78.459999  69.660004  77.400002  77.400002  36910000
2022-11-01  77.519997  80.410004  75.230003  78.470001  78.470001  18716200
2022-11-15  76.739998  79.010002  77.910004  78.470001  78.470001   1475758