# Series

* Use type to get data type
* Each column is a Series
* Series show data type (dtype)
* Calculate with Series
* Daily change
* Daily percentage change
* Normalize data
* Similar to Excel
* Indexing with Series

In [2]:
import pandas as pd

In [10]:
data = pd.read_csv("BJ.csv", index_col=0, parse_dates=True)

In [11]:
data.head()

                 Open       High        Low      Close  Adj Close    Volume
Date
2018-07-01  23.209999  27.459999  22.879999  24.790001  24.790001  25833200
2018-08-01  24.750000  31.580000  24.299999  29.500000  29.500000  22695800
2018-09-01  29.500000  32.919998  25.799999  26.780001  26.780001  48341500
2018-10-01  26.900000  27.670000  20.330000  22.150000  22.150000  42620300
2018-11-01  22.379999  24.830000  19.309999  23.360001  23.360001  37619400

In [18]:
data.dtypes

Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [12]:
type(data)

pandas.core.frame.DataFrame

In [15]:
close_coloumn = data['Close'].head()

In [16]:
close_coloumn

Date
2018-07-01    24.790001
2018-08-01    29.500000
2018-09-01    26.780001
2018-10-01    22.150000
2018-11-01    23.360001
Name: Close, dtype: float64

In [17]:
type(close_coloumn)

pandas.core.series.Series

In [21]:
daily_change = data['Open'] - data['Close']

In [20]:
data.head()

                 Open       High        Low      Close  Adj Close    Volume
Date
2018-07-01  23.209999  27.459999  22.879999  24.790001  24.790001  25833200
2018-08-01  24.750000  31.580000  24.299999  29.500000  29.500000  22695800
2018-09-01  29.500000  32.919998  25.799999  26.780001  26.780001  48341500
2018-10-01  26.900000  27.670000  20.330000  22.150000  22.150000  42620300
2018-11-01  22.379999  24.830000  19.309999  23.360001  23.360001  37619400

In [22]:
daily_change.head()

Date
2018-07-01   -1.580002
2018-08-01   -4.750000
2018-09-01    2.719999
2018-10-01    4.750000
2018-11-01   -0.980002
dtype: float64

In [23]:
type(daily_change)

pandas.core.series.Series

In [24]:
daily_percentage_change = (data['Close'] - data['Open'])/data['Open'] * 100

In [25]:
daily_percentage_change.head()

Date
2018-07-01     6.807420
2018-08-01    19.191919
2018-09-01    -9.220336
2018-10-01   -17.657993
2018-11-01     4.378919
dtype: float64

In [26]:
data['Close'].iloc[0]

24.790001

In [27]:
data['Close'].iloc[-1]

78.470001

In [28]:
normilize = data['Close']/data['Close'].iloc[0]

In [29]:
normilize

Date
2018-07-01    1.000000
2018-08-01    1.189996
2018-09-01    1.080274
2018-10-01    0.893505
2018-11-01    0.942315
2018-12-01    0.893909
2019-01-01    1.061315
2019-02-01    1.021380
2019-03-01    1.105284
2019-04-01    1.143606
2019-05-01    1.007664
2019-06-01    1.064945
2019-07-01    0.950383
2019-08-01    1.059298
2019-09-01    1.043566
2019-10-01    1.077047
2019-11-01    0.956031
2019-12-01    0.917305
2020-01-01    0.827753
2020-02-01    0.776926
2020-03-01    1.027430
2020-04-01    1.061315
2020-05-01    1.452198
2020-06-01    1.503429
2020-07-01    1.615571
2020-08-01    1.791448
2020-09-01    1.676079
2020-10-01    1.544574
2020-11-01    1.653489
2020-12-01    1.503832
2021-01-01    1.697055
2021-02-01    1.620815
2021-03-01    1.809601
2021-04-01    1.801936
2021-05-01    1.806777
2021-06-01    1.919322
2021-07-01    2.042759
2021-08-01    2.285599
2021-09-01    2.215409
2021-10-01    2.357402
2021-11-01    2.668415
2021-12-01    2.701492
2022-01-01    2.479629
2022-02-01    2.536103
2022-03-01    2.727309
2022-04-01    2.595805
2022-05-01    2.334409
2022-06-01    2.513917
2022-07-01    2.730940
2022-08-01    3.004840
2022-09-01    2.937071
2022-10-01    3.122227
2022-11-01    3.165389
2022-11-15    3.165389
Name: Close, dtype: float64