**Modify DataFrames and Useful Functions**

* Calculate with coloumns
* Create new coloumns
* Drop coloumns
* Max, Min, Argmax, Argmin
* Mean

In [3]:
import pandas as pd

In [9]:
data = pd.read_csv("BJ.csv", index_col=0, parse_dates=True)

In [11]:
data.head()

                 Open       High        Low      Close  Adj Close    Volume
Date
2018-07-01  23.209999  27.459999  22.879999  24.790001  24.790001  25833200
2018-08-01  24.750000  31.580000  24.299999  29.500000  29.500000  22695800
2018-09-01  29.500000  32.919998  25.799999  26.780001  26.780001  48341500
2018-10-01  26.900000  27.670000  20.330000  22.150000  22.150000  42620300
2018-11-01  22.379999  24.830000  19.309999  23.360001  23.360001  37619400

In [13]:
data['Monthly Change'] = data['Close'] - data['Open']

In [17]:
data['Return'] = data['Close']/data['Close'].iloc[0] - 1

In [18]:
data.head()

,Open,High,Low,Close,Adj Close,Volume,Monthly Change,Return
Date,,,,,,,,
2018-07-01,23.209999,27.459999,22.879999,24.790001,24.790001,25833200,1.580002,0.000000
2018-08-01,24.750000,31.580000,24.299999,29.500000,29.500000,22695800,4.750000,0.189996
2018-09-01,29.500000,32.919998,25.799999,26.780001,26.780001,48341500,-2.719999,0.080274
2018-10-01,26.900000,27.670000,20.330000,22.150000,22.150000,42620300,-4.750000,-0.106495
2018-11-01,22.379999,24.830000,19.309999,23.360001,23.360001,37619400,0.980002,-0.057685

In [20]:
data['Close'].min()

19.26

In [21]:
data.min()

Open              1.940000e+01
High              2.223000e+01
Low               1.884000e+01
Close             1.926000e+01
Adj Close         1.926000e+01
Volume            1.475758e+06
Monthly Change   -6.649998e+00
Return           -2.230739e-01
dtype: float64

In [27]:
data['Return'].min()

-0.2230738514290499

In [28]:
data['Close'].max()

78.470001

In [29]:
data['Close'].mean()

42.73129625925925

In [30]:
data.head()

,Open,High,Low,Close,Adj Close,Volume,Monthly Change,Return
Date,,,,,,,,
2018-07-01,23.209999,27.459999,22.879999,24.790001,24.790001,25833200,1.580002,0.000000
2018-08-01,24.750000,31.580000,24.299999,29.500000,29.500000,22695800,4.750000,0.189996
2018-09-01,29.500000,32.919998,25.799999,26.780001,26.780001,48341500,-2.719999,0.080274
2018-10-01,26.900000,27.670000,20.330000,22.150000,22.150000,42620300,-4.750000,-0.106495
2018-11-01,22.379999,24.830000,19.309999,23.360001,23.360001,37619400,0.980002,-0.057685

In [37]:
data.drop(labels=['High', 'Low', 'Adj Close', 'Volume'], axis=1, inplace=True)

In [38]:
data.head()

                 Open      Close  Monthly Change    Return
Date
2018-07-01  23.209999  24.790001        1.580002  0.000000
2018-08-01  24.750000  29.500000        4.750000  0.189996
2018-09-01  29.500000  26.780001       -2.719999  0.080274
2018-10-01  26.900000  22.150000       -4.750000 -0.106495
2018-11-01  22.379999  23.360001        0.980002 -0.057685